body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
}

.icon {
    display: inline-block;
    margin-bottom: 10px;
    background: url('0-sprite.png') no-repeat;
    width: 100px; 
    height: 120px; 
}

.i-html {
    background-position: 0 0;
}

.i-css {
    background-position: 0 -120px; 
}

.i-js {
    background-position: 0 -240px; 
}

