h2 {
    font-size: 20px; /* Set your desired font size */
}

h2 a {
    text-decoration: none;
    position: relative;
}

h2 a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; /* Set the default underline color for Hello */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

h2 a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
}

h2 a span {
    color: red; /* Set the color for Holberton */
}

